<Config>
    <!-- The address which HTTP will bind to -->
    <address>127.0.0.1:9011</address>

    <!-- Credentials -->
    <username>noahpistilli</username>
    <password>2006</password>

    <!-- Database information-->
    <databaseAddress>127.0.0.1</databaseAddress>
    <databaseName>wiilink_accounts</databaseName>

    <!-- OIDC credentials/data -->
    <oidc>
        <clientID>fBBy1hJf5Ay9JFYkQpHmeExgE1Kr7KUb4f6Ngzar</clientID>
        <clientSecret>Lj8bLTm1hxcjMs0a8VsTurXlBD2zlffyTDsgndjaaPpALrfAPZZEUpyHjRkP3JjOE0ATP7k4a4xMf7HI45Cukg5ebSL5oRMMiEFlERjmLoNmnbHIZkEUM48fpHRAe3gh</clientSecret>
        <redirectURL>http://localhost:9011/authorize</redirectURL>
        <scopes>openid profile</scopes>
        <provider>https://sso.riiconnect24.net/application/o/localhost-server-testing/</provider>
    </oidc>
</Config>