@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto px-2 lg:px-32 md:px-20 sm:px-10;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url('/assets/fonts/gilroy.otf');
}

@font-face {
  font-family: "Rodin";
  src: url('/assets/fonts/rodin.ttf');
}

.sso-bg {
  background-image: url("https://sso.riiconnect24.net/media/public/flow-backgrounds/SSO-bg.png");
  background-size: cover;
}

h1 {
  font-size: 38px;
  font-weight: 800;
}

h2 {
  font-size: 34px;
  font-weight: 500;
}

.radial-gradient-1 {
  background: radial-gradient(circle, #404789 20%, #12121200 90%);
}

.spin {
  animation: spin 200s linear infinite;
}

.dissolve {
  -webkit-mask-image: -webkit-radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
}

@media (prefers-color-scheme: dark) {
  .dissolve {
    -webkit-mask-image: -webkit-radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    );
    mask-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    );
  }
}

.animation-fade-in-up {
  animation: fadeInUp 0.3s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    top: 20px;
    position: relative;
  }
  100% {
    opacity: 1;
    top: 0px;
    position: relative;
  }
}

.animation-fade-in {
  animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pulse {
  animation: pulse 100s infinite;
}

@keyframes pulse {
  0% {
    filter:hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.header-link {
  @apply dark:text-white;
  transition: 0.3s;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .header-link:hover {
    background-color: #ffffff10 !important;
  }
}

.header-link:hover {
  transform: scale(1.02) !important;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: #00000010;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  transition: 0.3s;
  overflow: hidden;
}

.header-link-index {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  @apply bg-gradient-to-b from-gray-400/60 to-gray-400 border-gray-400 dark:from-slate-700/60 dark:to-slate-700 dark:border-slate-700;
  transition: 0.2s;
}

.header-link-index:hover {
  padding-bottom: 30px;
  text-decoration: none !important;
  transition: 0.2s;
}

li:nth-child(1) .header-link-index {
  border-radius: 0px 0px 4px 16px;
}

li:nth-child(6) .header-link-index {
  border-radius: 0px 0px 16px 4px;
}

.mobile-show {
  display: none;
}

@media (max-width: 1250px) {
  .mobile-hide {
    display: none;
  }

  .mobile-hide-flex {
    display: none;
  }

  .mobile-show {
    display: block;
  }
}
