@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .container {
            @apply max-w-screen-xl mx-auto lg:px-32 md:px-20 sm:px-10;
        }
}

.sso-bg {
    background-image: url('https://sso.riiconnect24.net/media/public/flow-backgrounds/SSO-bg.png');
    background-size: cover;
}