{{define "base.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link href="/assets/output.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b0ac94d361.js" crossorigin="anonymous"></script>
</head>
<body class="dark:text-white dark:bg-slate-800">
    <main class="container items-center">
{{end}}
