<!DOCTYPE html>
<html>
  <head>
    <title>Login - WiiLink Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/output.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://www.wiilink24.com/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://www.wiilink24.com/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://www.wiilink24.com/img/favicon-16x16.png"
    />
    <link rel="manifest" href="https://www.wiilink24.com/img/site.webmanifest" />
    <link rel="mask-icon" href="https://www.wiilink24.com/img/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="https://www.wiilink24.com/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-config" content="https://www.wiilink24.com/img/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <script
      src="https://kit.fontawesome.com/e47ece3e74.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="bg-white dark:bg-slate-800 dark:text-white flex items-center justify-center absolute w-full h-full"
  >
    <main
      class="flex flex-col items-center justify-center gap-3 relative w-[95%] max-w-lg"
    >
      <div class="flex items-center justify-between w-full">
        <img
          src="https://www.wiilink24.com/img/IS-logo.png"
          class="!h-[60px] dark:invert"
        />
        <h2 class="text-right text-lg">
          <b>CMOC</b><br />
          Control Panel
        </h2>
      </div>
      <p class="opacity-90 text-left mt-3">
        <i class="fa-solid fa-chevron-right"></i> With this tool you can create,
        modify and delete contests in the Check Mii Out Channel, as well as
        moderate submitted Miis.
      </p>
      <!-- {{if .Error}}
        <p style="color:red;">{{.Error}}</p>
        {{end}} -->
      <a href="/panel/start">
        <button class="submit_button">
          Login with WiiLink Internal
        </button>
      </a>
    </main>
  </body>
</html>
