<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | WiiLink Account</title>
    <meta name="description" content="Manage your WiiLink account and access all WiiLink services.">
    <meta name="keywords" content="WiiLink, Wii, account, services, manage">
    <meta property="og:title" content="WiiLink Account">
    <meta property="og:description" content="Manage your WiiLink account and access all WiiLink services.">
    <meta property="og:image" content="/assets/img/og-image.png">
    <meta property="og:url" content="https://account.wiilink24.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="WiiLink Account">
    <meta name="twitter:description" content="Manage your WiiLink account and access all WiiLink services.">
    <meta name="twitter:image" content="/assets/img/og-image.png">
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
    <link href="/assets/output.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0ac94d361.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
  <body
    class="bg-slate-900 text-white flex items-center justify-center absolute w-full h-full"
  >
  <div class="sso-bg w-screen h-screen fixed top-0 left-0 z-0"></div>
    <main
      class="flex flex-col items-center justify-center gap-3 relative w-[95%] max-w-lg"
    >
      <div class="flex items-center justify-between w-full">
        <img
          src="https://www.wiilink24.com/img/IS-logo.png"
          class="!h-[60px] dark:invert"
        />
        <h2 class="text-right text-lg">
          <b>WiiLink</b><br />
          Account Management
        </h2>
      </div>
      <div class="p-6 rounded-xl border-2 border-white/5 bg-black/5 backdrop-blur-lg">
      <p class="opacity-90 text-left mt-3">
        <i class="fa-solid fa-chevron-right mr-1"></i> Welcome to your WiiLink Account! This service allows you to view and manage your Wii data and settings, as well as access other WiiLink services and Domino's/JustEat delivery.
      </p>
      <!-- {{if .Error}}
        <p style="color:red;">{{.Error}}</p>
        {{end}} -->
      <a href="/start" class="w-full">
        <button class="mt-5 p-3 w-full bg-blue-600 hover:bg-blue-700 active:scale-95 rounded-full transition-all">
          <i class="fa-solid fa-right-to-bracket mr-3"></i> Log in with your WiiLink Account
        </button>
      </a>
    </div>
    </main>
  </body>
</html>
