{{template "base.html"}}
<div id="particles-js"
  class="spin top-0 left-0 w-full h-full -translate-x-[0rem] opacity-30 invert dark:invert-0 z-0 absolute"></div>
<div class="left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-screen h-screen z-1 absolute">
  <div class="w-full h-full radial-gradient-1 opacity-20 pulse"></div>
</div>
<img src="/assets/img/pattern.png"
  class="left-0 top-0 w-[calc(100%+16rem)] dissolve -translate-y-80 brightness-[1000%] opacity-20 invert dark:invert-0 z-0 absolute"
  alt="WiiLink Pattern Background" />

<div class="w-full max-w-[1000px] !text-white flex items-center justify-center z-10 relative">
  <div class="pl-3 pr-3 sm:flex md:flex-row flex-col items-center gap-5">
    <div>
      <h1 id="greeting" class="mb-3 text-3xl font-bold">What's up,</h1>
      <h2 class="flex flex-row items-center gap-3 text-2xl sm:text-4xl">
        <span id="pfp" class="w-[50px] h-[50px]">
        <img
          src="https://gravatar.com/avatar/{{.pfp}}"
          height="50px"
          width="50px"
          class="bg-gray-300 dark:bg-slate-900/60 rounded-md"
        />
      </span>
        <div class="flex flex-col items-start">
          {{.username}}
          <div class="text-lg opacity-30">{{.email}}</div>
        </div>
      </h2>
      <br />
      <p>
      <div class="p-3 bg-black/10 dark:bg-white/10 backdrop-blur-md rounded-lg">
        <b>
          To finish creating your WiiLink Account, you will need to link your
          Wii Console to it. To do so, please download the Account Linker
          application from the Open Shop Channel.</b>
      </div><br />
      Once you're done, you will be able to use Domino's ordering
      on the Food Channel, and in the future view all data associated to your account
      from the Check Mii Out Channel, Everybody Votes Channel, LinkTag and your Digicard.
      You can also use our Forum <a href="https://forum.wiilink.ca">here</a> without linking a console!
      <br><br>
      <span class="flex flex-col sm:flex-row items-start gap-3">
        <a href="/refresh"
          class="w-full sm:w-[280px] px-6 py-3 rounded-md bg-black/10 dark:bg-white/10 hover:scale-105 active:scale-95 backdrop-blur-md flex flex-row items-center gap-3 transition-all"
          style="text-decoration: none !important;"><img src="/assets/icon/refresh-cw.svg" alt="Icon" class="w-5 h-5 invert mr-2" />
          <span class="text-black dark:text-white">Reload the
            page</span></a>
        <span class="opacity-30">Refresh the site after linking your console to access all features.</span>
      </span>
      <br>
      </p>
    </div>

    <div>
      <div class="w-full sm:w-auto items-center justify-center hidden md:flex">
        <div
          class="sm:w-80 sm:m-8 p-6 rounded-2xl bg-black/20 dark:bg-white/20 shadow-lg shadow-white/5 backdrop-blur-md relative">
          <div id="qrcode" class="p-4 bg-white rounded-lg overflow-hidden"></div>
        </div>
      </div>

      <p class="opacity-30 text-center mt-6 sm:mt-0">
        <span class="text-black dark:text-white">Already on PC?</span>
        <a id="download" class="underline"><span class="text-black dark:text-white">Download the tool
            here</span></a><span class="text-black dark:text-white">.</span>
      </p>
    </div>
  </div>
</div>
        <div class="mt-10 p-3 !text-white bg-black/5 dark:bg-white/5 backdrop-blur-md rounded-lg">
        <b>
          Need help getting setup? Follow our <u><a href="https://wiilink.ca/guide/accounts">setup guide</a></u>.</b>
      </div>

<script src="/assets/particles/particles.min.js"></script>
<script>
  particlesJS.load("particles-js", "/assets/particles/particlesjs-config.json");

  var link = "https://hbb1.oscwii.org/api/contents/wiilink-account-linker/wiilink-account-linker.zip";

  // Generate QR code of the download link
  new QRCode(document.getElementById("qrcode"), {
    text: link,
    width: 512,
    height: 512,
  });

  document.getElementById("download").href = link;

  // Custom greeting depending on time of day
  var greeting = document.getElementById("greeting");
  const now = new Date();
  const hour = now.getHours();

  if (hour > 5 && hour < 12) {
    greeting.innerText = "Good morning,";
  } else if (hour >= 12 && hour < 18) {
    greeting.innerText = "Good afternoon,";
  } else {
    greeting.innerText = "Good evening,";
  }

  // Get the stupid data I can't get from within the login-script.html template
  const username = "{{.username}}";
  const pfp = "https://gravatar.com/avatar/{{.pfp}}";
  const email = "{{.email}}";
</script>

<style>
  .dissolve {
      mask: linear-gradient(to bottom, black 0%, transparent 100%);
      -webkit-mask: linear-gradient(to bottom, black 0%, transparent 100%);
  }
</style>

{{template "login-script.html"}}

{{template "footer.html"}}